/*
 * These are the common definitions for the styling of bulleted lists, numbered
 * lists, and plain indented blocks, shared by the editor and timeslider pages.
 */

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

ul {
  margin-left: 1.5em;
}
ul ul {
  margin-left: 0 !important;
}
ul.list-bullet1 {
  margin-left: 1.5em;
}
ul.list-bullet2 {
  margin-left: 3em;
}
ul.list-bullet3 {
  margin-left: 4.5em;
}
ul.list-bullet4 {
  margin-left: 6em;
}
ul.list-bullet5 {
  margin-left: 7.5em;
}
ul.list-bullet6 {
  margin-left: 9em;
}
ul.list-bullet7 {
  margin-left: 10.5em;
}
ul.list-bullet8 {
  margin-left: 12em;
}
ul.list-bullet9 {
  margin-left: 13.5em;
}
ul.list-bullet10 {
  margin-left: 15em;
}

ul {
  list-style-type: disc;
}
ul.list-bullet1 {
  list-style-type: disc;
}
ul.list-bullet2 {
  list-style-type: circle;
}
ul.list-bullet3 {
  list-style-type: square;
}
ul.list-bullet4 {
  list-style-type: disc;
}
ul.list-bullet5 {
  list-style-type: circle;
}
ul.list-bullet6 {
  list-style-type: square;
}
ul.list-bullet7 {
  list-style-type: disc;
}
ul.list-bullet8 {
  list-style-type: circle;
}
ul.list-bullet9 {
  list-style-type: disc;
}

ul.list-indent1 {
  margin-left: 1.5em;
}
ul.list-indent2 {
  margin-left: 3em;
}
ul.list-indent3 {
  margin-left: 4.5em;
}
ul.list-indent4 {
  margin-left: 6em;
}
ul.list-indent5 {
  margin-left: 7.5em;
}
ul.list-indent6 {
  margin-left: 9em;
}
ul.list-indent7 {
  margin-left: 10.5em;
}
ul.list-indent8 {
  margin-left: 12em;
}
ul.list-indent9 {
  margin-left: 13.5em;
}

ul.list-indent1,
ul.list-indent2,
ul.list-indent3,
ul.list-indent4,
ul.list-indent5,
ul.list-indent6,
ul.list-indent7,
ul.list-indent8,
ul.list-indent9 {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

/* Fixes #2223 and #1836 */
ol > li {
  display: block;
}

/* Set the indentation */
ol.list-number1 {
  text-indent: 20px;
}
ol.list-number2 {
  text-indent: 40px;
}
ol.list-number3 {
  text-indent: 60px;
}
ol.list-number4 {
  text-indent: 80px;
}
ol.list-number5 {
  text-indent: 100px;
}
ol.list-number6 {
  text-indent: 120px;
}
ol.list-number7 {
  text-indent: 140px;
}
ol.list-number8 {
  text-indent: 160px;
}
ol.list-number9 {
  text-indent: 180px;
}

/* Add styling to the first item in a list */

.list-start-number1 {
  counter-reset: first second;
}
.list-start-number2 {
  counter-reset: second;
}
.list-start-number3 {
  counter-reset: third;
}
.list-start-number4 {
  counter-reset: fourth;
}
.list-start-number5 {
  counter-reset: fifth;
}
.list-start-number6 {
  counter-reset: sixth;
}
.list-start-number7 {
  counter-reset: seventh;
}
.list-start-number8 {
  counter-reset: eighth;
}
.list-start-number9 {
  counter-reset: ninth;
}

/* The behavior for incrementing and the prefix */
.list-number1 li:before {
  content: counter(first, decimal) ". ";
  counter-increment: first;
}

.list-number2 li:before {
  content: counter(second, lower-alpha) ". ";
  counter-increment: second;
}

.list-number3 li:before {
  content: counter(third, lower-roman) ". ";
  counter-increment: third 1;
}

.list-number4 li:before {
  content: counter(fourth, decimal) ". ";
  counter-increment: fourth 1;
}

.list-number5 li:before {
  content: counter(fifth, lower-alpha) ". ";
  counter-increment: fifth 1;
}

.list-number6 li:before {
  content: counter(sixth, lower-roman) ". ";
  counter-increment: sixth 1;
}

.list-number7 li:before {
  content: counter(seventh, decimal) ". ";
  counter-increment: seventh 1;
}

.list-number8 li:before {
  content: counter(eighth, lower-alpha) ". ";
  counter-increment: eighth 1;
}

.list-number9 li:before {
  content: counter(ninth, lower-roman) ". ";
  counter-increment: ninth 1;
}
